<div class="flex-1 w-full">
  <div
    class="h-15 bg-white dark:bg-black border-b-2 border-malachite-600 items-center flex transition ease-in-out duration-150"
    [style.border-color]="(currentOrg.currentConfig$ | async)?.colors.titleBarBorderColor"
    [style.background-color]="(currentOrg.currentConfig$ | async)?.colors.titleBarBackgroundColor">
    <a routerLink="/">
      <svg class="h-8 pl-3 w-auto" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path [attr.fill]="
        (currentOrg.currentConfig$ | async)?.colors.titleBarTextColor ?
         (currentOrg.currentConfig$ | async)?.colors.titleBarTextColor : '#18c05c'
        " d="M49,-55.9C62.6,-47,72.1,-30.7,71.8,-15.2C71.4,0.2,61.2,14.9,51.8,28.7C42.4,42.5,33.6,55.4,19.5,65.9C5.4,76.4,-14.1,84.3,-24.3,76.5C-34.6,68.6,-35.6,44.8,-46.1,26.6C-56.7,8.4,-76.8,-4.4,-78.8,-17.5C-80.8,-30.7,-64.8,-44.4,-48.6,-52.8C-32.4,-61.3,-16.2,-64.5,0.7,-65.4C17.7,-66.3,35.4,-64.8,49,-55.9Z" transform="translate(100 100)" />
      </svg>
    </a>
  </div>
  <app-sidebar [pageGroups]="sidebarPageGroups"></app-sidebar>
</div>

<div class="flex items-center flex-shrink-0 bg-white dark:bg-gray-800 bg-gray-100 px-3 py-3 space-x-2 justify-between">
  <a routerLink="/my-profile" class="truncate">
    <div
      class="group dark:hover:bg-gray-600 hover:bg-gray-200 rounded px-2 truncate transition duration-100 ease-in-out">
        <span class="group-hover:text-malachite-600"
              [title]="(login.decodedJwt$ | async)?.first_name + ' ' + (login.decodedJwt$ | async)?.last_name">
          {{(login.decodedJwt$ | async)?.first_name}}
          {{(login.decodedJwt$ | async)?.last_name}}<br>
        </span>
      <span
        class="text-gray-600 dark:text-gray-400 group-hover:text-malachite-600 ">
          {{(login.decodedJwt$ | async)?.email}}
        </span>
    </div>
  </a>
  <div>
    <a routerLink="/login/logout" class="hover:text-malachite-600 transition duration-200 ease-in-out pt-2">
      <feather-icon
        name="log-out">
      </feather-icon>
    </a>
  </div>
</div>
