<app-layout
  heading="Ihr Profil"
  [sidebarPages]="profilePages"
  [breadcrumbs]="breadcrumbs">
  <app-loading *ngIf="loading"></app-loading>
  <ng-container *ngIf="!loading">
    <form (ngSubmit)="updateUser()" [formGroup]="editUserForm">
      <app-titled-content
        label="Profil bearbeiten"
        description="Ihre Addresse kann lediglich von Administratoren eingesehen werden.">
        <div class="flex space-x-2">
          <app-input
            class="flex-1"
            required="true"
            formControlName="firstName"
            label="Vorname">
          </app-input>
          <app-input
            class="flex-1"
            required="true"
            formControlName="lastName"
            label="Nachname">
          </app-input>
        </div>
        <div class="flex space-x-2">
          <app-input
            class="flex-grow"
            required="true"
            formControlName="street"
            label="Straße">
          </app-input>
          <app-input
            class="w-32"
            required="true"
            formControlName="streetNumber"
            label="Hausnr.">
          </app-input>
        </div>
        <div class="flex space-x-2">
          <app-input
            class="flex-1"
            required="true"
            formControlName="postcode"
            label="Postleitzahl">
          </app-input>
          <app-input
            class="flex-1"
            required="true"
            formControlName="city"
            label="Stadt">
          </app-input>
        </div>
        <div class="flex justify-end w-full">
            <app-button
              formButtonType="submit"
              label="Speichern">
            </app-button>
        </div>
      </app-titled-content>
    </form>
  </ng-container>

</app-layout>
