<div class="mb-5">
  <app-card>
    <div class="flex justify-between items-center flex-wrap sm:flex-nowrap border-b-2">
      <div class="flex items-center mb-3 space-x-2">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            {{news.author.first_name}} {{news.author.last_name}}
          </h3>
          <p class="text-sm text-malachite-600">
            <a href="#">
              @{{news.author.username}}
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="prose prose-sm py-1 mt-3 dark:text-white">
      <h2 class="dark:text-white">
        {{news.title}}
      </h2>
      <div [innerHTML]="news.body | MarkdownToHtml">
      </div>
    </div>
  </app-card>
</div>
