<div class="mb-5">
  <div class="bg-white dark:bg-gray-900 sm:px-6 shadow">
    <div class="flex justify-between items-center flex-wrap sm:flex-nowrap border-b-2">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-12 w-12 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
        </div>
        <div class="ml-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Johne Doe
          </h3>
          <p class="text-sm text-malachite-600">
            <a href="#">
              @john.doe
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="prose pt-5">
      <h2>Title</h2>
      Lorem ipsum
    </div>
  </div>
</div>
