<app-layout [sidebarPages]="sidebarPages" [buttons]="buttonGroup" [breadcrumbs]="breadcrumb"
            heading="Benutzer verwalten">
  <div class="bg-white  shadow overflow-hidden sm:rounded-lg mb-10 px-3 py-3">
    <app-filter [filters]="filters" (filterValue)="applyFilter($event)"></app-filter>
  </div>
  <div class="bg-white  shadow overflow-hidden sm:rounded-lg mb-10 px-3 py-3">
    <app-loading *ngIf="loading"></app-loading>
    <table class="table-fixed w-full" *ngIf="!loading">
      <thead>
      <tr class="border-gray-200 border-b-2">
        <th class="pl-2 w-1/3 text-left truncate">E-Mail</th>
        <th class="w-2/3 truncate text-left"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of results" class="even-odd-row">
        <td class="truncate">
          <a class="undeline pl-2 text-blue-600" [href]="'mailto:' + user.email">{{ user.email }}</a>
        </td>
        <td class="grid">
          <div class="justify-self-end my-3">
            <app-button (click)="showEditModalForUser(user)" class="pr-2" size="small" label="Bearbeiten"></app-button>
            <app-button (click)="showRelatedCustomersModal(user)" class="pr-2" size="small" label="Kunden anzeigen"></app-button>
            <app-button (click)="showDeleteModalForUser(user)" class="" size="small" label="Löschen" type="danger"></app-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-layout>

<ng-template #editModal>
  <label class="block mt-6 leading-3 text-lg">Identifier</label>
  <input class="mt-4 bg-gray-300 form-input block w-full rounded-md sm:leading-5" type="text" [(ngModel)]="currentEditUser.id"
         readonly>
  <label class="block mt-6 leading-3 text-lg">E-Mail</label>
  <input class="mt-4 form-input block w-full rounded-md sm:leading-5" type="email" placeholder="Email" [(ngModel)]="currentEditUser.email">

  <div class="flex justify-end w-full mt-7">
    <div>
      <app-button
        (click)="closeEditModal()"
        type="blank"
        label="Abbrechen"
        [icon]="null"></app-button>
      <app-button
        (click)="saveEditedUser()"
        type="info"
        label="Speichern"></app-button>
    </div>
  </div>
</ng-template>

<ng-template #relatedCustomersModal>
</ng-template>
