<div class="h-screen flex overflow-hidden bg-white dark:bg-black dark:text-white">
  <div class="hidden md:flex md:flex-shrink-0" *ngIf="session.isLoggedIn$ | async">
    <div class="flex flex-col w-64 h-screen bg-white dark:bg-black border-r overflow-y-auto">
        <app-navbar></app-navbar>
    </div>
  </div>
  <div class="flex-1 overflow-y-hidden focus:outline-none" tabindex="0">
    <div class="flex flex-col h-full">
      <app-top-bar *ngIf="session.isLoggedIn$ | async"></app-top-bar>
      <div class="md:flex md:h-full w-full">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-notifier></app-notifier>
  <app-confirm-modal></app-confirm-modal>
  <app-loading-modal></app-loading-modal>
  <app-custom-modal></app-custom-modal>
</div>
