<app-layout [sidebarPages]="sidebarPages">
  <app-container center="true" large="true">
    <app-zero-data image="under_construction"
                   heading="Hier wird noch gebaut."
                   description="In einem zukünfitgen Update des Portals können Sie
                   an dieser Stelle Formulare, welche von Ihren Mitgliedern ausgefüllt werden können,
                   erstellen und digital verwalten. Formulare können beispielsweise Mitgliedsanträge, Einverständniserklärungen
                   oder etwa Anträge für Spendenbescheinigungen sein.">
    </app-zero-data>
  </app-container>
</app-layout>
