<app-container>
  <app-titled-content
    label="Rolle bearbeiten">
    <form (ngSubmit)="create()" [formGroup]="formGroup">
      <app-input
        required="true"
        formControlName="title"
        description="Titel der Rolle"
        placeholder="Umfrage-Administratoren"
        label="Titel">
      </app-input>
      <div class="flex justify-end w-full">
        <app-button
          formButtonType="submit"
          label="Speichern">
        </app-button>
      </div>
    </form>
  </app-titled-content>
</app-container>
