<app-container>
  <app-titled-content
    label="Team erstellen">
    <form (ngSubmit)="create()" [formGroup]="formGroup">
      <app-input
        required="true"
        formControlName="title"
        description="Titel des Teams"
        placeholder="Laufteam"
        label="Titel">
      </app-input>
      <app-select
        required="true"
        label="Verwaltungsrolle"
        formControlName="maintain_role_id"
        description="Benutzer mit dieser Rolle dürfen dieses Team verwalten, ändern und Benutzer hinzufügen. Administratoren dürfen dies immer."
        [items]="roleSelectData">
      </app-select>
      <small class="text-gray-500">Technische ID: {{current?.id}}</small>
      <div class="flex justify-end w-full">
        <app-button
          formButtonType="submit"
          label="Speichern">
        </app-button>
      </div>
    </form>
  </app-titled-content>
</app-container>
