<app-scroll>
  <div class="bg-gray-100 dark:bg-gray-800 h-auto w-full">
    <app-container center="true">
      <div class="mt-5"></div>
      <app-card *ngFor="let group of (data$ | async)">
        <h1 class="text-3xl mb-3">{{group.title}}</h1>
        <div *ngFor="let event of group.events">
          <div class="flex justify-between items-center flex-wrap sm:flex-nowrap border-t-2 md:space-x-4 mt-3">
            <div class="flex-1 text-2xl">
              {{ event.date | amFromUtc | amDateFormat: 'DD.MM.' }}<br>
              <span class="text-gray-600">{{ event.date | amFromUtc | amDateFormat: 'H:mm' }}</span>
            </div>
            <div class="prose prose-sm dark:text-white flex-shrink">
              <h2 class="dark:text-white text-2xl pt-2">
                {{event.title}}
              </h2>
              <div [innerHTML]="event.description | MarkdownToHtml">
              </div>
            </div>
            <div class="flex-grow w-1/3 justify-end flex">
              <app-button label="Anmelden" size="small"></app-button>
            </div>
          </div>
        </div>
      </app-card>
    </app-container>
  </div>
</app-scroll>
