<app-container>
  <app-titled-content
    label="Veranstaltung bearbeiten">
    <form (ngSubmit)="updateEvent()" [formGroup]="editEventForm">
      <app-input
        required="true"
        formControlName="title"
        description="Titel Ihrer Veranstaltung, z.B.: Kindertraining"
        placeholder="Kindertraining"
        label="Titel">
      </app-input>
      <app-markdown-input
        label="Beschreibung"
        formControlName="description"
        description="Die Beschreibung kann genutzt werden, um z.B. den Ort Ihrer Veranstaltung festzulegen.">
      </app-markdown-input>
      <app-input
        formControlName="price"
        label="Teilnahmegebühr"
        placeholder="420,69"
        description="Geben Sie die Höhe der Teilnahmegebühr in Euro ein. Sollte die Veranstaltung kostenlos sein, so kann dieses Feld leergelassen werden.">
      </app-input>
      <app-datetime-input
        label="Beginn der Veranstaltung"
        formControlName="start_date"
        required="true"
        type="text"
        description="Geben Sie das Datum des Beginns der Veranstaltung an"
      ></app-datetime-input>
      <app-datetime-input
        label="Ende der Veranstaltung"
        formControlName="end_date"
        required="true"
        type="text"
        description="Geben Sie das Datum des Endes der Veranstaltung an"
      ></app-datetime-input>
      <app-input
        formControlName="max_participants"
        placeholder="12"
        description="Sollte die Veranstaltung keine Teilnehmerbegrenzung haben, so kann dieses Feld leergelassen werden."
        label="Maximale Teilnehmerzahl">
      </app-input>
      <small class="text-gray-500">Technische ID: {{current?.id}}</small>
      <div class="flex justify-end w-full">
        <app-button
          formButtonType="submit"
          label="Speichern">
        </app-button>
      </div>
    </form>
  </app-titled-content>
</app-container>



