<app-layout [sidebarPages]="sidebarPages">
  <app-container>
    <form [formGroup]="themeForm" (ngSubmit)="saveColors()">
      <app-titled-content
        label="Erscheinungsbild"
        description="Konfigurieren Sie das Erscheinungsbild Ihres Portals nach Ihren Vereinsvorlieben, zum Beispiel mit Ihren Vereinsfarben. Es werden sämliche HTML-Farbcodes unterstützt.">
        <p class="text-sm text-gray-500 my-3 block">
          Sie können diese Farbcodes auch unter folgender Adresse erstellen: <a href="https://htmlcolorcodes.com/" class="text-malachite-600" target="_blank">htmlcolorcodes.com</a>.
        </p>
        <div class="flex space-x-2">
          <div class="flex space-x-2 flex-1 items-end">
            <app-input
              formControlName="title_bar_background_color"
              type="text"
              placeholder="#ff2e17"
              label="Hintergrundfarbe der Titelleiste"
              description="Geben Sie eine Farbe ein, welche für den Hintergrund der Titelleiste verwendet werden soll.">
            </app-input>
            <div class="h-10 w-10 flex-shrink-0 border border-transparent border-gray-200 px-3 rounded-md mb-4"
                 style="background-color: var(--title-bar-background-color)">
            </div>
          </div>
          <div class="flex space-x-2 flex-1 items-end">
            <app-input
              formControlName="title_bar_border_color"
              type="text"
              placeholder="#ffeb3d"
              label="Randfarbe der Titelleiste"
              description="Geben Sie eine Farbe ein, welche für den Text und das Logo in der Titelleiste verwendet werden soll.">
            </app-input>
            <div class="h-10 w-10 flex-shrink-0 border border-transparent border-gray-200 px-3 rounded-md mb-4"
                 style="background-color: var(--title-bar-border-color)">
            </div>
          </div>
        </div>
        <div class="flex space-x-2">
          <div class="flex space-x-2 flex-1 items-end">
            <app-input
              formControlName="title_bar_text_color"
              type="text"
              class="flex-1"
              placeholder="#ffeb3d"
              label="Textfarbe der Titelleiste"
              description="Geben Sie eine Farbe ein, welche verwendet werden soll für Schriften und das Logo in der Titelleiste verwendet werden soll.">
            </app-input>
            <div class="h-10 w-10 flex-shrink-0 border border-transparent border-gray-200 px-3 rounded-md mb-4"
                 style="background-color: var(--title-bar-text-color)">
            </div>
          </div>
          <div class="flex space-x-2 flex-1 items-end">
            <app-input
              formControlName="sidebar_link_color"
              type="text"
              class="flex-1"
              placeholder="#ffeb3d"
              label="Seitenleistenfarbe"
              description="Geben Sie eine Farbe ein, welche für aktive Links in der Seitennavigationsleiste verwendet werden soll.">
            </app-input>
            <div class="h-10 w-10 flex-shrink-0 border border-transparent border-gray-200 px-3 rounded-md mb-4"
                 style="background-color: var(--sidebar-text-color)">
            </div>
          </div>
        </div>
        <div class="flex space-x-2">
          <div class="flex space-x-2 flex-1 items-end">
            <app-input
              formControlName="accent_color"
              type="text"
              class="flex-1"
              placeholder="#ffeb3d"
              label="Akzentfarbe"
              description="Geben Sie eine Farbe ein, welche als Kontrastfarbe verwendet werden soll.">
            </app-input>
            <div class="h-10 w-10 flex-shrink-0 border border-transparent border-gray-200 px-3 rounded-md mb-4"
                 style="background-color: var(--accent-color)">
            </div>
          </div>
          <div class="flex-1"></div>
        </div>
        <div class="flex justify-end w-full">
          <app-button
            formButtonType="submit"
            label="Speichern"
            icon="save">
          </app-button>
        </div>
      </app-titled-content>
    </form>
  </app-container>
</app-layout>
