<div class="py-10 mb-10"
     [class.shadow]="whiteBg"
     [class.bg-white]="whiteBg">
  <app-container [large]="large">
    <div>
      <nav class="hidden sm:flex items-center text-sm leading-5 font-medium" *ngIf="breadcrumbs != null">
        <ng-container *ngFor="let b of breadcrumbs; let i = index">
          <svg *ngIf="breadcrumbs.length !== i && i !== 0" class="flex-shrink-0 mx-2 h-5 w-5 text-gray-400"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 20 20"
               fill="currentColor">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"/>
          </svg>
          <a [routerLink]="b.routerLink"
             class="text-gray-500 hover:text-gray-700 transition duration-150 ease-in-out">{{b.title}}</a>
        </ng-container>
      </nav>
    </div>
    <div class="mt-2 md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
          {{heading}}
        </h2>
      </div>
      <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4" *ngIf="buttons != null">
        <app-button-group [buttons]="buttons"></app-button-group>
      </div>
    </div>
  </app-container>
</div>
