<div class="relative z-0">
  <label [for]="name" class="leading-7 text-md text-gray-600 dark:text-white">
    {{label}}<span class="text-red-500 px-0.5" *ngIf="required">*</span>
  </label>
  <p class="text-sm text-gray-500 mb-3" *ngIf="description">
    {{description}}
  </p>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <textarea #simplemde
    (change)="onChange($event)"
    (keyup)="onChange($event)"
    [name]="name"
    [id]="name"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="onChange($event.target.value); value = $event.target.value"
    (blur)="onTouched()"
    (keyup.enter)="enter.emit($event)"
  ></textarea>
</div>

