<app-layout
  heading="Ihr Profil"
  [sidebarPages]="profilePages"
  [breadcrumbs]="breadcrumbs">
  <app-loading *ngIf="loading"></app-loading>
  <app-container *ngIf="!loading">
    <app-titled-content
      label="E-Mail-Adresse ändern"
      description="Dies ist die E-Mail, welche zum Anmelden verwendet wird.">
      <form [formGroup]="editUserForm" (ngSubmit)="updateEmail()">
        <app-input label="E-Mail"
                   placeholder="max@example.com"
                   formControlName="email">
        </app-input>
        <div class="flex justify-end w-full">
          <app-button
            label="Speichern"
            formButtonType="submit">
          </app-button>
        </div>
      </form>
    </app-titled-content>
    <app-titled-content
      label="Passwort ändern"
      description="Wir empfehlen ein starkes Passwort mit mindestens 8 Zeichen und einem Sonderzeichen.">
      <form [formGroup]="editUserForm" (ngSubmit)="updateUserPassword()">
        <app-input label="Neues Passwort"
                   type="password"
                   placeholder="*****"
                   formControlName="password">
        </app-input>
        <div class="flex justify-end w-full">
          <app-button
            label="Speichern"
            formButtonType="submit">
          </app-button>
        </div>
      </form>
    </app-titled-content>
  </app-container>

</app-layout>
