<app-layout
        heading="Ihr Profil"
  [sidebarPages]="profilePages"
  [breadcrumbs]="breadcrumbs">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10 px-3 py-3">
    <app-loading *ngIf="loading"></app-loading>
    <ng-container *ngIf="!loading">
      <form [formGroup]="editUserForm">
        <h1 class="text-2xl my-3">E-Mail-Adresse ändern</h1>
        <app-input label="E-Mail"
                   placeholder="max@example.com"
                   formControlName="email">
        </app-input>
        <div class="flex justify-end w-full">
          <div>
            <app-button
              label="Speichern"
              (click)="updateEmail()">
            </app-button>
          </div>
        </div>
        <hr class="my-5">
        <h1 class="text-2xl my-3">Passwort ändern</h1>
        <app-input label="Neues Passwort"
                   type="password"
                   placeholder="*****"
                   formControlName="password">
        </app-input>
      </form>
      <div class="flex justify-end w-full">
        <div>
          <app-button
            label="Speichern"
            (click)="updateUserPassword()">
          </app-button>
        </div>
      </div>
    </ng-container>
  </div>

</app-layout>
