<div class="mb-5">
  <app-card>
    <div class="flex justify-between items-center flex-wrap sm:flex-nowrap border-b-2">
      <div class="flex items-center mb-3 space-x-2">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
            {{poll.author.first_name}} {{poll.author.last_name}}
          </h3>
          <div class="flex">
            <p class="text-sm text-malachite-600 pr-4">
              <a href="#">
                @{{poll.author.username}}
              </a>
            </p>
            <p class="text-sm text-gray-600">
              {{ poll.createdAt | amLocal | amTimeAgo }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="prose prose-sm py-1 mt-3 dark:text-white">
      <h2 class="dark:text-white">
        {{poll.title}}
      </h2>
      <div [innerHTML]="poll.body | MarkdownToHtml">
      </div>
    </div>
    <div class="py-1 -ml-2 dark:text-white justify-between
                flex flex-col overflow-x-auto"
         *ngIf="!poll.user_has_voted">
      <app-button *ngFor="let answer of poll.poll_answers" [label]="answer.title" size="small" type="blank"
                  class="pb-3" (click)="vote(answer)">
      </app-button>
    </div>
    <div class=""
         *ngIf="poll.user_has_voted">
      <div
        *ngFor="let answer of poll.poll_answers"
        class="flex">
        <div class="w-1/2 flex-1">
          {{answer.title}}
          <span class="px-6 py-4 whitespace-nowrap text-sm text-gray-500" *ngIf="answer.answer_voted">
            Ihre Antwort
          </span>
        </div>
        <div class="w-1/2 flex-1">
          <app-progress-bar
            [progress]="calculateProgress(answer.user_votes_count, poll.total_user_votes_count)">
          </app-progress-bar>
        </div>
      </div>
    </div>
  </app-card>
</div>
