<ul *ngFor="let role of availableRoles">
  <li class="py-3 bg-malachite-600 dark:bg-gray-900 text-white px-3 my-3 flex space-x-2 items-center w-full">
    <i-feather [style.height]="'1rem'" [style.width]="'1rem'" name="users">
    </i-feather>
    <div>
      {{role.title}}
    </div>
    <div class="flex-grow flex justify-end">
      <app-button
        *ngIf="editable"
        (click)="editEvent.emit(role)"
        class="justify-self-end"
        size="small"
        type="transparent"
        icon="edit"></app-button>
      <app-button
        *ngIf="removable"
        (click)="removeEvent.emit(role)"
        class="justify-self-end"
        size="small"
        type="transparent"
        icon="edit"></app-button>
      <app-button
        *ngIf="usersUpdatable"
        (click)="updateUsersEvent.emit(role)"
        class="justify-self-end"
        size="small"
        type="transparent"
        icon="users"></app-button>
      <app-button
        *ngIf="deletable && role.user_deletable"
        (click)="deleteEvent.emit(role)"
        class="justify-self-end"
        size="small"
        type="transparent"
        icon="trash"></app-button>
    </div>
  </li>
</ul>
