<app-layout [sidebarPages]="sidebarPages">
  <app-container center="true" large="true">
    <app-zero-data image="under_construction"
                   heading="Hier wird noch gebaut."
                   description="In einem zukünfitgen Update des Portals können Sie
                   an dieser Stelle Trainingspläne anlegen und Ihren Mitgliedern zur Verfügung stellen.
                   Mitglieder werden dann Ihren Trainingsfortschritt mit anderen Mitgliedern vergleichen können.">
    </app-zero-data>
  </app-container>
</app-layout>
