<app-layout
  [sidebarPages]="sidebarPages"
>
  <app-container>
    <app-titled-content label="Zahlen">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-center">
        <div class="mb-10 px-4 py-6" *ngFor="let tile of tiles">
          <ng-container *ngIf="!tile.loading">
            <i-feather [name]="tile.icon" class="text-accent" style="width: 40%; height: 40%"></i-feather>
            <h2 class="title-font font-medium text-3xl text-gray-900">{{tile.count}}</h2>
          </ng-container>
          <ng-container *ngIf="tile.loading">
            <app-loading></app-loading>
            <h2 class="title-font font-medium text-3xl text-gray-900">Laden...</h2>
          </ng-container>
          <p class="leading-relaxed">{{tile.title}}</p>
        </div>
      </div>
    </app-titled-content>
    <app-titled-content label="Entwicklung">
      <app-order-stats chartFor="users" *ngIf="monthlyData !== null" [statData]="monthlyData">
      </app-order-stats>
    </app-titled-content>
  </app-container>
</app-layout>
