<ng-container>
  <a [routerLink]="item.url" class="mt-1 group flex items-center px-3 py-2 my-2
    text-sm leading-5 font-medium rounded-md
     hover:text-gray-900 hover:bg-gray-100
    focus:outline-none focus:bg-gray-200 transition
    ease-in-out duration-150" aria-current="page"
  [routerLinkActive]="['bg-gray-200']" [routerLinkActiveOptions]="{exact: item?.matchFull}">
    <i
      class="fa flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-500 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <i-feather name="{{item.icon}}"></i-feather>
    </i>
    <span class="truncate">
        {{item.title}}
  </span>
  </a>
</ng-container>
