<app-layout [sidebarPages]="sidebarPages" [breadcrumbs]="breadcrumb"
            heading="Benutzer verwalten">
  <app-container>
    <app-titled-content
      label="Rollen"
      description="Hier können Sie Rollen bearbeiten.">
      <app-role-picker (deleteEvent)="editSlide($event)"
                       (editEvent)="editSlide($event)"
                       (updateUsersEvent)="updateUsersSlide($event)"
                       [availableRoles]="roles.data$ | async"
                       [editable]="true"
                       [usersUpdatable]="true"
                       [deletable]="true"></app-role-picker>
    </app-titled-content>
  </app-container>
</app-layout>
<ng-template #create>
  <app-create-role></app-create-role>
</ng-template>
<ng-template #edit>
  <app-edit-role [editId]="current"></app-edit-role>
</ng-template>
<ng-template #updateUsers>
  <app-edit-role-memberships [editId]="current"></app-edit-role-memberships>
</ng-template>
