<button
  class="text-white transition ease-in-out duration-150
      border border-transparent mx-2 focus:outline-none rounded"
  [class.focus:border-blue-700]="type === 'info'"
  [class.bg-blue-600]="type === 'info'"
  [class.hover:bg-blue-500]="type === 'info'"
  [class.active:bg-blue-700]="type === 'info'"
  [class.focus:border-red-700]="type === 'danger'"
  [class.bg-red-600]="type === 'danger'"
  [class.hover:bg-red-500]="type === 'danger'"
  [class.active:bg-red-700]="type === 'danger'"
  [class.text-black]="type === 'blank'"
  [class.border-black]="type === 'blank'"
  [class.py-2]="size === 'normal'"
  [class.px-6]="size === 'normal'"
  [class.py-1]="size === 'small'"
  [class.px-2]="size === 'small'"
  [class.w-full]="size === 'full'"
  [class.mt-4]="size === 'full'"
  [class.py-3]="size === 'full'"
  [class.mx-2]="size !== 'full'"
>
  <i class="-ml-1 -mt-3 mr-6 h-1 w-1 text-sm" *ngIf="icon !== null">
    <i-feather [name]="icon"></i-feather>
  </i>
  {{label}}
</button>
