<app-layout
  [sidebarPages]="sidebarPages"
  heading="Übersicht"
>
  <app-container>
    <form [formGroup]="editOrgForm" (ngSubmit)="save()">
      <app-titled-content
        label="Allgemeine Einstellungen">
        <app-input
          required="true"
          type="text"
          formControlName="title"
          placeholder="1. FC Musterhausen"
          label="Vereinsname">
        </app-input>
        <app-input
          required="true"
          formControlName="access_code"
          type="text"
          placeholder="FCMSTR2021"
          description="Dieser Code muss von neuen Nutzern angegeben werden, um sich bei der Plattform zu registrieren."
          label="Zugangscode">
        </app-input>
        <small class="text-gray-500">Technische ID: {{(currentOrg.currentOrg$ | async)?.id}}</small>
        <div class="flex justify-end w-full">
          <app-button
            formButtonType="submit"
            label="Speichern">
          </app-button>
        </div>
      </app-titled-content>
    </form>
    <app-labeled-value label="Vereinseigene Datenschutzerklärung">
      <div class="flex justify-between">
        <p class="pt-1 truncate">
          <ng-container *ngIf="(currentOrg.currentOrg$ | async)?.privacy_policy_text">
            <span
              [innerHTML]="((currentOrg.currentOrg$ | async)?.privacy_policy_text) | truncate : ['80'] | MarkdownToHtml">
            </span>
          </ng-container>
          <ng-container *ngIf="!(currentOrg.currentOrg$ | async)?.privacy_policy_text">
            Nicht konfiguriert
          </ng-container>
        </p>
        <app-button (click)="slideOver.showSlideOver('', privacyPolicy)" icon="edit" type="link" label="Bearbeiten" size="small">
        </app-button>
      </div>
    </app-labeled-value>
    <app-labeled-value label="Lastschriftmandate">
      <div class="flex justify-between">
        <p class="pt-1 truncate">
          <ng-container *ngIf="(currentOrg.currentOrg$ | async)?.direct_debit_mandate_contract_text">
            <span
              [innerHTML]="((currentOrg.currentOrg$ | async)?.direct_debit_mandate_contract_text) | truncate : ['80'] | MarkdownToHtml">
            </span>
          </ng-container>
          <ng-container *ngIf="!(currentOrg.currentOrg$ | async)?.direct_debit_mandate_contract_text">
            Nicht konfiguriert
          </ng-container>
        </p>
        <app-button (click)="slideOver.showSlideOver('', directDebitMandate)" icon="edit" type="link" label="Bearbeiten" size="small">
        </app-button>
      </div>
    </app-labeled-value>
  </app-container>
</app-layout>

<ng-template #advanced>
  <app-edit-developer-settings></app-edit-developer-settings>
</ng-template>
<ng-template #privacyPolicy>
  <app-edit-privacy-policy></app-edit-privacy-policy>
</ng-template>
<ng-template #directDebitMandate>
  <app-edit-direct-debit-mandate-contract-text></app-edit-direct-debit-mandate-contract-text>
</ng-template>
