<app-nav-spacer></app-nav-spacer>
<app-container>
  <p class="mt-3 text-base text-black sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
    <span class="text-yellow-400">Noch kein Konto? <a class="text-blue-600" [routerLink]="'/login/register'"> Jetzt erstellen!</a></span>
  </p>
  <div class="mt-10">
    <p *ngIf="error" class="text-red-700">E-Mail oder Passwort falsch!</p>
    <fieldset>
      <div
        style="background: rgba(255, 255, 255, 0.8)"
        class="mt-1 rounded-md shadow-sm">
        <div>
          <input
            type="email"
            [(ngModel)]="email"
            (keyup.enter)="login()"
            class="h-16 text-1xl text-center form-input relative block w-full rounded-none rounded-t-md bg-transparent focus:z-10 transition ease-in-out duration-150 sm:leading-5"
            placeholder="E-Mail"/>
          <input
            type="password"
            [(ngModel)]="password"
            (keyup.enter)="login()"
            class="h-16 text-1xl text-center form-input relative block w-full rounded-none rounded-b-md bg-transparent focus:z-10 transition ease-in-out duration-150 sm:leading-5"
            placeholder="Passwort"/>
        </div>
      </div>
      <app-button size="full" (click)="login()" label="Login"></app-button>
    </fieldset>
  </div>
</app-container>
