<app-container>
  <app-titled-content
    label="Umfrage erstellen">
    <form (ngSubmit)="create()" [formGroup]="formGroup">
      <app-input
        required="true"
        formControlName="title"
        description="Stellen Sie Ihre Frage, welche Entschieden werden soll"
        placeholder="Wie zufrieden seid Ihr mit der neuen Webseite?"
        label="Titel">
      </app-input>
      <app-markdown-input
        label="Beschreibung"
        formControlName="body"
        description="Die Beschreibung kann genutzt werden, um die Umfrage genauer zu beschreiben.">
      </app-markdown-input>
      <app-select
        required="true"
        label="Antwort-Team wählen"
        formControlName="answer_team_id"
        description="Benutzer dieses Teams dürfen diese Umfrage sehen und Stimmen abgeben."
        [items]="teamSelectData">
      </app-select>
      <app-datetime-input
        label="Ablaufdatum"
        formControlName="closes_at"
        required="true"
        type="text"
        description="Diese Umfrage bleibt bis zum Ablaufdatum freigeschaltet und es kann abgestimmt werden."
      ></app-datetime-input>
      <div class="flex justify-end w-full">
        <app-button
          formButtonType="submit"
          icon="save"
          label="Speichern">
        </app-button>
      </div>
    </form>
  </app-titled-content>
</app-container>



