<app-layout [sidebarPages]="sidebarPages">
  <app-container>
    <div class="overflow-hidden pt-3 cursor-pointer md:-ml-2">
      <ul class="divide-y divide-gray-200">
        <li *ngFor="let poll of polls.data$ | async">
          <a [routerLink]="'/my-team/polls/' + poll.id" class="block hover:bg-gray-50 dark:hover:bg-gray-50">
            <div class="px-4 py-4 flex items-center sm:px-6">
              <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                <div>
                  <div class="flex font-medium text-black dark:text-white truncate">
                    <p>{{poll.title}}</p>
                  </div>
                  <div class="mt-2 flex">
                    <div class="flex items-center text-sm text-gray-500">
                      <p>
                        Erstellt {{ poll.createdAt | amLocal | amTimeAgo }}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="poll.expired" class="mt-2 flex">
                    <div class="flex items-center text-sm text-red-500">
                      <p>
                        Diese Umfrage ist bereits abgelaufen.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="mt-4 flex-shrink-0 sm:mt-0">
                  <app-button icon="trash" label="Löschen" type="link-danger" (click)="delete($event, poll)"></app-button>
                </div>
              </div>
              <div class="ml-5 flex-shrink-0">
                <feather-icon name="chevron-right" class="pt-1 text-gray-400"></feather-icon>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </app-container>
  <ng-template #pollCreate>
    <app-create-poll></app-create-poll>
  </ng-template>
</app-layout>
