<div class="w-full border-b-2 dark:bg-black bg-white border-malachite-600
 h-15 flex flex-wrap justify-between content-center px-3 transition ease-in-out duration-150"
     [style.border-color]="(currentOrg.currentConfig$ | async)?.colors.titleBarBorderColor"
     [style.background-color]="(currentOrg.currentConfig$ | async)?.colors.titleBarBackgroundColor"
     id="topBar">
  <div class="text-lg text-malachite-600 pt-1.5 font-light transition ease-in-out duration-150"
       [style.color]="(currentOrg.currentConfig$ | async)?.colors.titleBarTextColor">
    {{titleBar.title$ | async}}
  </div>
  <div>
    <ng-container *ngFor="let b of (buttons$ | async)">
      <app-button
        size="small"
        (click)="handleButtonClick(b)"
        [icon]="b.icon"
        [label]="b.title"></app-button>
    </ng-container>
  </div>
</div>
